.footer {
  border-top: 1px solid var(--footer-border);
  background: var(--footer-bg);

  color: var(--footer-text);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 16px;

  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--footer-text);
}
