.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 3;
  display: block;
  border-radius: 12px;
  color: var(--title-color);
}



@media (max-width: 820px) {
  .poster {
    height: 300px;
  }
}